<ion-view title="busquedaCanciones">
    
    <div class="bar bar-header bar-positive">
        <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
        <h1 class="title">WeRunners</h1>
    </div>
    <div class="bar bar-subheader bar-royal">
        <h2 class="title">Configuración</h2>
    </div>
    <ion-content class="has-subheader">
        <h4>Búsqueda de canciones</h4>
        
        <br>
        <h6>La última fecha de búsqueda de canciones fue {{vlr_busquedaCanciones.valor}}</h6>
        <h6>Desea realizar una búsqueda?</h6>
        
        <button class="button button-clear button-positive" ng-click="buscarCanciones()">
            Buscar
        </button>
    </ion-content>
</ion-view>
