<ion-view title="configuration">
    
    <div class="bar bar-header bar-positive">
        <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
        <h1 class="title">WeRunners</h1>
    </div>
    <div class="bar bar-subheader bar-royal">
        <h2 class="title">Configuración</h2>
    </div>
    
    
    
   
      <ion-content class="has-subheader">
          
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="conf in configs" type="item-text-wrap" ui-sref="{{conf.namepro}}">
            <h2>{{conf.name}}</h2>
            <p>{{conf.value}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-nav-view name="{{conf.namepro}}"></ion-nav-view>
        </ion-item>
        </ion-list>
      </ion-content>
</ion-view>
