<ion-view title="detalleSesion">
    
    <div class="bar bar-header bar-positive">
        <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
        <h1 class="title">WeRunners</h1>
    </div>
    <div class="bar bar-subheader bar-royal">
        <h2 class="title">Resúmen de la sesión</h2>
    </div>
    
    
   
      <ion-content class="has-subheader">
          
          <div style="margin: 10px">
          <h4>Nombre</h4>
          <h6>{{sesion.nombre}}</h6>
          <h4>Descripción</h4>
          <h6>{{sesion.descripcion}}</h6>
          <h4>Fecha inicio</h4>
          <h6>{{sesion.fechaInicio}}</h6>
          <h4>Fecha fin</h4>
          <h6>{{sesion.fechaFin}}</h6>
          <hr>
          <h4>Canciones</h4>
          
          <div class="list">
            <div ng-repeat="cancion in sesion.canciones">
                <a class="item item-icon-left" href="#">
                    <h4>{{cancion.nombre}}</h4>
                </a>
            </div>
        </div>
          
        
          
        </div>
          
      </ion-content>
</ion-view>
