<ion-view title="home">
  <div class="bar bar-header bar-positive">
       <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
       <h1 class="title">WeRunners</h1>
   </div>
   <div class="bar bar-subheader bar-royal">
       <h2 class="title">Tus Eventos</h2>
   </div>
      <ion-content class="has-subheader">
        <ion-content>
          <ion-list>
            <ion-item ng-repeat="item in items">
              <h3>{{item.name}}</h3>
              <h5>{{item.Accelerometer}}</h5>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-content>
</ion-view>
