<ion-view title="factorMultiplicacion">
    
    <div class="bar bar-header bar-positive">
        <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
        <h1 class="title">WeRunners</h1>
    </div>
    <div class="bar bar-subheader bar-royal">
        <h2 class="title">Configuración</h2>
    </div>
    <ion-content class="has-subheader">
        <h4>Factor de multiplicación</h4>
        
        <br>
        <h6>Por favor seleccione el factor de multiplicación que se aplicará al BPM del trote</h6>
        
        <div class="item range">
          <input type="range" name="volume" min="0" max="30" value="{{vlr_multiplicacion.valor}}" ng-model="vlr_multiplicacion.valor"> {{vlr_multiplicacion.valor}}
        </div>
        
        <button class="button button-clear button-positive" ng-click="guardarMultiplicacion()">
            Aceptar
        </button>
        
    </ion-content>
</ion-view>
