<ion-view title="home">
    <ion-header-bar class="bar-positive">
        <h1 class="title">WeRunners</h1>
        <button class="button icon ion-gear-a" ui-sref="configuration">
            <ion-nav-view name="configuration"></ion-nav-view>
        </button>
      </ion-header-bar>
      <ion-content class="has-subheader">
            <div class="row">
                <div class="col">
                    <button class="button button-block button-outline icon-right ion-music-note button-balanced" ui-sref="reproductor">
                        Reproductor
                        <ion-nav-view name="reproductor"></ion-nav-view>
                    </button>
                </div>
                <div class="col">
                    <button class="button button-block button-outline icon-right ion-calendar button-balanced" ui-sref="sesiones">
                        Eventos
                        <ion-nav-view name="eventos"></ion-nav-view>
                    </button>
                </div>
            </div>
          
        <button class="button button-full button-positive" ng-click="iniciarParar()">
                {{btn_iniciar}}
        </button>
          
            {{latitude}}
          <br>
            {{longitude}}
          <br>
            {{illuminance}}
      </ion-content>
</ion-view>
