<ion-view title="listaSesiones">
   <div class="bar bar-header bar-positive">
        <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
        <h1 class="title">WeRunners</h1>
    </div>
    <div class="bar bar-subheader bar-royal">
        <h2 class="title">Sesiones</h2>
    </div>



      <ion-content class="has-subheader">
        <div class="list">
            <div ng-repeat="sesion in sesiones">
                <a class="item item-icon-right" href="#/details/{{sesion.id}}">
                    <h4>{{sesion.nombre}}</h4>
                    <h8>{{sesion.phone}}</h8>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
            </div>
        </div>





      </ion-content>
</ion-view>
