<ion-view title="reproductor">
   <div class="bar bar-header bar-positive">
        <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
        <h1 class="title">WeRunners</h1>
    </div>
    <div class="bar bar-subheader bar-royal">
        <h2 class="title">Reproductor</h2>
    </div>



      <ion-content class="has-subheader">

        <div class="button-bar">
            <button class="button icon ion-skip-backward" ng-click="previous()"></button>
            <button id="playpause" class="button icon ion-play" ng-click="play()"></button>
            <button class="button icon ion-stop" ng-click="stop()"></button>
            <button class="button icon ion-skip-forward" ng-click="next()"></button>
        </div>



        <div class="list">
            <div ng-repeat="cancion in canciones">
                <a class="item item-icon-left" href="#" ng-click="playfromsong({{cancion}})">
                    <h4>{{cancion.nombre}}</h4>
                    <h8>{{cancion.bpm}}</h8>
                </a>
            </div>
        </div>





      </ion-content>
</ion-view>
