<ion-view title="sensibilidad">
    
    <div class="bar bar-header bar-positive">
        <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
        <h1 class="title">WeRunners</h1>
    </div>
    <div class="bar bar-subheader bar-royal">
        <h2 class="title">Configuración</h2>
    </div>
    <ion-content class="has-subheader">
        <h4>Sensibilidad del acelerómetro</h4>
        
        <br>
        <h6>Por favor seleccione la sensibilidad del sensor</h6>
        
        <div class="item range">
          <input type="range" name="volume" min="0" max="100" value="{{vlr_sensibilidad.valor}}" ng-model="vlr_sensibilidad.valor"> {{vlr_sensibilidad.valor}}%
        </div>
        
        <button class="button button-clear button-positive" ng-click="guardarSensibilidad()">
            Aceptar
        </button>
        
    </ion-content>
</ion-view>
